@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(240, 10%, 98%);
  --foreground: hsl(240, 10%, 25%);
  --card-bg: hsl(0, 0%, 100%);
  --card-border: hsl(240, 5%, 85%);
  --muted: hsl(240, 5%, 50%);
  --card-border: #d7d7db;
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Ubuntu Mono, monospace;
}

.dark {
  --background: hsl(240, 10%, 4%);
  --foreground: hsl(240, 10%, 85%);
  --card-bg: hsl(240, 10%, 7%);
  --card-border: hsl(240, 5%, 15%);
  --muted: hsl(240, 5%, 60%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  min-width: 360px;
}

.card-border {
  border: 1px solid var(--card-border);
}

.border-card {
  border-color: var(--card-border);
}
